@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.static {
  cursor: not-allowed;
}

.cursor {
  color: #000;
  text-shadow: 0 0 10px red;
}

.input,
.textarea {
  border: 1px solid #7a7971;
  font-family: inherit;
  font-size: inherit;
  padding: 3px 6px;
  background-color: rgba(0, 0, 0, 0.05);
  height: 26px;
}

.panel {
  padding: 5px;
  border: 1px solid #999;
}

.border-light {
  border: 1px solid #7a7971;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-grow,
.flex-grow1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-grow2 {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

.flex {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex div {
  padding: 3px;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Styles limited to swse sheets */
.swse .item-form {
  font-family: "Roboto", sans-serif;
}

.swse .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.swse .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.swse .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.swse .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.swse .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.swse .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.swse .sheet-body,
.swse .sheet-body .tab,
.swse .sheet-body .tab .editor {
  height: 100%;
}

.swse .tox .tox-editor-container {
  background: #fff;
}

.swse .tox .tox-edit-area {
  padding: 0 8px;
}

.swse .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.swse .center {
  text-align: center;
  margin: auto;
}

.swse table.fixed {
  table-layout: fixed;
}

.swse table.fixed tr {
  line-height: 28px;
}

.swse table.fixed tr td {
  white-space: nowrap;
}

.swse table.fixed tr td .direct {
  text-decoration: underline;
}

.swse table.fixed tr td span {
  display: inline-block;
  width: 100%;
}

.swse table.fixed tr td span.short {
  width: 85%;
}

.swse table.fixed tr td input {
  display: inline-block;
  width: 100%;
}

.swse table.fixed tr td input.short {
  width: 85%;
}

.swse .padding-3 {
  padding: 3px;
}

.swse .direct {
  cursor: text;
}

.swse .button {
  cursor: pointer;
}

.swse .border {
  border: 1px solid black;
}

.swse table.skill tr {
  height: 30px;
}

.swse table.skill tr th {
  text-align: left;
}

.swse .warning {
  opacity: 50%;
  background-color: yellow;
}

.swse .shrink {
  resize: both;
  display: inline-block;
}

.swse .rollEquation {
  word-wrap: break-word;
}

.swse .movable, .swse .container {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.swse .container {
  border: 1px dotted dimgray;
}

.swse .dark-side-button {
  width: 30px;
  height: 50px;
  min-width: 30px;
  min-height: 50px;
  padding-top: 17px;
  padding-left: 5px;
  text-align: center;
  border: 1px solid;
}

.swse .dark-side-block {
  width: 380px;
  max-width: 380px;
}

.swse .dark-side-button.active {
  background-color: red;
}

.swse .movable {
  padding: 17px;
  text-align: center;
  border: 1px solid;
}

.swse .text-center {
  text-align: center;
}

.swse .tiny {
  width: 20px;
}

.swse .small {
  width: 90px;
}

.swse .top {
  display: block;
}

.swse .min-width-15 {
  min-width: 15px;
}

.swse .fas {
  horiz-align: center;
  min-width: 16px;
}

.swse .portrait-container {
  width: 200px;
  height: 200px;
}

.swse .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.swse .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.swse .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.swse .tabs .item-edit {
  cursor: pointer;
}

.swse .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.swse .items-list .item-header {
  font-weight: bold;
}

.swse .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.swse .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.swse .items-list .item img {
  display: block;
}

.swse .items-list .feat {
  height: 60px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.swse .items-list .item-name {
  margin: 0;
}

.swse .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

.swse td {
  text-align: center;
}

.swse .item-attribute {
  cursor: pointer;
}

.swse .species-container .species {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swse .species-container .species .species-image {
  display: block;
}

.swse .species-container .species img {
  height: 32px;
  width: 32px;
}

.swse .species-container .species div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.swse .summary-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 3px;
}

.swse .summary-header .name {
  grid-area: 1 / 1 / 2 / 5;
}

.swse .summary-header .player {
  grid-area: 1 / 5 / 2 / 8;
}

.swse .summary-header .classes {
  grid-area: 2 / 1 / 3 / 7;
}

.swse .summary-header .level {
  grid-area: 2 / 7 / 3 / 8;
}

.swse .summary-header .destiny {
  grid-area: 4 / 1 / 5 / 7;
}

.swse .summary-header .experience {
  grid-area: 4 / 7 / 5 / 8;
}

.swse .summary-header .weight {
  grid-area: 3 / 7 / 4 / 8;
}

.swse .summary-header .height {
  grid-area: 3 / 6 / 4 / 7;
}

.swse .summary-header .age {
  grid-area: 3 / 5 / 4 / 6;
}

.swse .summary-header .sex {
  grid-area: 3 / 4 / 4 / 5;
}

.swse .summary-header .species {
  grid-area: 3 / 1 / 4 / 4;
}

.swse .attack {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 1px;
}

.swse .attack .name {
  grid-area: 1 / 1 / 2 / 4;
}

.swse .attack .to-hit {
  grid-area: 2 / 1 / 3 / 3;
}

.swse .attack .damage {
  grid-area: 2 / 3 / 3 / 5;
}

.swse .attack .attack-notes {
  grid-area: 3 / 1 / 4 / 4;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.swse .attack .range {
  grid-area: 1 / 4 / 2 / 6;
}

.swse .attack .critical {
  grid-area: 2 / 5 / 3 / 6;
}

.swse .attack .type {
  grid-area: 3 / 4 / 4 / 6;
}

.swse .attack .modes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-area: 4 / 1 / 5 / 6;
}

.swse .attack .modes .mode-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 1px solid #7a7971;
}

.swse .attack .modes .mode-group .mode-selector {
  border: 1px solid #7a7971;
}

.swse .armor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 1px;
}

.swse .armor .name {
  grid-area: 1 / 1 / 2 / 3;
}

.swse .armor .speed {
  grid-area: 1 / 3 / 2 / 4;
}

.swse .armor .reflex-defense {
  grid-area: 2 / 1 / 3 / 2;
}

.swse .armor .fortitude-defense {
  grid-area: 2 / 2 / 3 / 3;
}

.swse .armor .max-dexterity {
  grid-area: 2 / 3 / 3 / 4;
}

.swse .armor .armor-notes {
  grid-area: 3 / 1 / 4 / 4;
}

.swse .ability-score {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.swse .ability-score .name {
  grid-area: 1 / 1 / 2 / 3;
}

.swse .ability-score .score {
  grid-area: 1 / 3 / 2 / 4;
}

.swse .ability-score .temp {
  grid-area: 1 / 4 / 2 / 5;
}

.swse .ability-score .mod {
  grid-area: 1 / 5 / 2 / 6;
}

.swse .defense {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.swse .defense .defense-header {
  grid-area: 1 / 1 / 2 / 4;
}

.swse .defense .defense-label {
  grid-area: 1 / 1 / 2 / 2;
}

.swse .defense .defense-total {
  grid-area: 1 / 2 / 2 / 3;
}

.swse .defense .defense-10 {
  grid-area: 1 / 3 / 2 / 4;
}

.swse .defense .defense-level-armor {
  grid-area: 1 / 4 / 2 / 5;
}

.swse .defense .defense-ability {
  grid-area: 1 / 5 / 2 / 6;
}

.swse .defense .defense-class {
  grid-area: 1 / 6 / 2 / 7;
}

.swse .defense .defense-misc {
  grid-area: 1 / 7 / 2 / 8;
}

.swse .attribute {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 30px;
}

.swse .mode {
  border-top: thin solid #7a7971;
  border-bottom: thin solid #7a7971;
  -webkit-box-shadow: #7a7971;
  box-shadow: #7a7971;
}

.swse .attribute-key {
  grid-area: 1 / 1 / 2 / 5;
}

.swse .attribute-value {
  grid-area: 1 / 5 / 2 / 9;
}

.swse .attribute-key-1 {
  grid-area: 1 / 2 / 2 / 6;
}

.swse .attribute-value-1 {
  grid-area: 1 / 6 / 2 / 9;
}

.swse .attribute-key-2 {
  grid-area: 1 / 3 / 2 / 7;
}

.swse .attribute-value-2 {
  grid-area: 1 / 7 / 2 / 9;
}

.swse .attribute-indent-graphic {
  grid-area: 1 / 1 / 2 / 2;
}

.swse .attribute-indent-key {
  grid-area: 1 / 2 / 2 / 5;
}

.swse .attribute-indent-value {
  grid-area: 1 / 5 / 2 / 9;
}

.swse .attribute-indent-graphic-1 {
  grid-area: 1 / 2 / 2 / 3;
}

.swse .attribute-indent-key-1 {
  grid-area: 1 / 3 / 2 / 6;
}

.swse .attribute-indent-value-1 {
  grid-area: 1 / 6 / 2 / 9;
}

.swse .attribute-indent-graphic-2 {
  grid-area: 1 / 3 / 2 / 4;
}

.swse .attribute-indent-key-2 {
  grid-area: 1 / 4 / 2 / 7;
}

.swse .attribute-indent-value-2 {
  grid-area: 1 / 7 / 2 / 9;
}

.swse .attribute-delete {
  grid-area: 1 / 9 / 2 / 10;
}

.swse .attribute-add {
  grid-area: 1 / 1 / 2 / 10;
}

.swse .mode-add {
  grid-area: 1 / 1 / 2 / 10;
}

.swse .subtle {
  color: #7a7971;
}

.swse .attribute-full {
  grid-area: 1 / 1 / 2 / 10;
}

.swse .attribute-left-button {
  grid-area: 1 / 1 / 2 / 5;
}

.swse .attribute-right-button {
  grid-area: 1 / 5 / 2 / 10;
}
