@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to swse sheets */
.swse .item-form {
  font-family: "Roboto", sans-serif;
}

.swse .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.swse .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.swse .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.swse .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.swse .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.swse .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.swse .sheet-body,
.swse .sheet-body .tab,
.swse .sheet-body .tab .editor {
  height: 100%;
}

.swse .tox .tox-editor-container {
  background: #fff;
}

.swse .tox .tox-edit-area {
  padding: 0 8px;
}

.swse .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.swse .center {
  text-align: center;
}

.swse table.fixed {
  table-layout: fixed;
}

.swse table.fixed tr {
  line-height: 28px;
}

.swse table.fixed tr td {
  white-space: nowrap;
}

.swse table.fixed tr td .direct {
  text-decoration: underline;
}

.swse table.fixed tr td span {
  display: inline-block;
  width: 100%;
}

.swse table.fixed tr td span.short {
  width: 85%;
}

.swse table.fixed tr td input {
  display: inline-block;
  width: 100%;
}

.swse table.fixed tr td input.short {
  width: 85%;
}

.swse .direct {
  cursor: text;
}

.swse .border {
  border: 1px solid black;
}

.swse table.skill tr {
  height: 30px;
}

.swse table.skill tr th {
  text-align: left;
}

.swse .warning {
  opacity: 50%;
  background-color: yellow;
}

.swse .shrink {
  resize: both;
  display: inline-block;
}

.swse .rollEquation {
  word-wrap: break-word;
}

.swse .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.swse .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.swse .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.swse .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.swse .items-list .item-header {
  font-weight: bold;
}

.swse .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.swse .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.swse .items-list .item img {
  display: block;
}

.swse .items-list .feat {
  height: 60px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.swse .items-list .item-name {
  margin: 0;
}

.swse .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

.swse .species-container .species {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.swse .species-container .species .species-image {
  display: block;
}

.swse .species-container .species img {
  height: 30px;
  width: 30px;
}

.hideable {

}

.hide {
  display: none;
}

.show {

}

.toggle-hide{

}

.plus,.minus {
  width: 30px
}

.attribute-label{
  width: 200px;
}

.align-right{
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.movable, .container{
  width: 50px;
  height: 50px;
}
.container{
  border: 1px dotted dimgray;
}
.movable{
  padding: 17px;
  text-align: center;
  border: 1px solid;
  cursor: move;
}

tr.skill, tr.ability, div.attack{
  cursor:move;
}