<div>
    <label>Credits
        <input type="number" name="data.credits" value="{{actor.credits}}">
    </label>
    <a data-action="credit" data-action-type="add"
       title="add credits"><i
            class="fas fa-plus"></i></a>
    <a data-action="credit" data-action-type="sub"
       title="subtract credits"><i
            class="fas fa-minus"></i></a>
    <a data-action="credit" data-action-type="transfer"
       title="transfer credits"><i
            class="fas fa-people-arrows"></i></a>
</div>