<div>
    <div class="grid swse">
        <div>
            <table>
                <thead>
                </thead>
                <tbody>
                {{#each abilities as |ability key|}}
                    {{#unlessBoth ability.skip ../isDroid}}
                        <tr>
                            <th>{{key}}</th>
                            <td>
                                <div class="container" data-ability="{{key}}">
                                    {{#if ability.val}}<div class="movable" id="movable-{{key}}">1</div>{{/if}}
                                </div>
                            </td>
                        </tr>
                    {{/unlessBoth}}
                {{/each}}
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead></thead>
                <tbody>
                {{#each availableBonuses as |bonus id|}}
                    <tr>
                        <td>
                            <div class="container">
                                {{#if bonus}}<div class="movable" id="movable-{{id}}">1</div>{{/if}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>