<div class="skills-header swse flex-grow resource flex-group-center">
    <label class="resource-label">Skills</label>

    <table class="skill">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Total</th>
            <th>Ability</th>
            <th>Trained</th>
<!--            <th>Focus</th>-->
<!--            <th>Misc</th>-->
<!--            <th>Armor</th>-->
            <th>Bonus</th>
        </tr>
        </thead>
        <tbody>
        {{#each actor.skill.skills as |skill id|}}
            {{#unless skill.hide}}
                {{> 'systems/swse/templates/actor/parts/skills/skill-row.hbs' skill=skill toggles=../actor.system.toggles}}
            {{/unless}}
        {{/each}}
        </tbody>
    </table>
</div>