<div class="skills-header swse flex-grow resource flex-group-center">
    <label class="resource-label">Skills</label>

    <table class="skill">
        <thead>
        <tr>
            <td></td>
            <td></td>
            <th>Total</th>
            <th>Ability</th>
            {{#unless disableTrained}}
                <th>Trained</th>{{/unless}}
            {{#unless disableBonus}}
                <th>Bonus</th>{{/unless}}
        </tr>
        </thead>
        <tbody>
        {{#each actor.skill.skills as |skill id|}}
            {{#unless skill.hide}}
                {{> 'systems/swse/templates/actor/parts/skills/skill-row.hbs' skill=skill toggles=../actor.system.toggles disableTrained=../disableTrained disableBonus=../disableBonus}}
            {{/unless}}
        {{/each}}
        </tbody>
    </table>
</div>