{{!-- Darkside Block --}}
<div class="dark-side-block panel">
    <h1 class="resource-label">Dark Side Score: {{actor.system.darkside.finalScore}}
        / {{actor.system.darkside.max}}</h1>
    <div class="flex flex-row flex-wrap">
        {{#times (math actor.system.darkside.max "+" 1)}}
            <label>
                {{this}}
                <input class="dark-side-button{{#ifGT ../actor.system.darkside.finalScore this}} lessthan{{/ifGT}}"
                       type="radio" name="system.darkside.value"
                       {{#ifEquals ../actor.system.darkside.finalScore this}}checked{{/ifEquals}} value="{{math this "-" ../actor.system.darkside.taint}}">
            </label>
        {{/times}}
    </div>
</div>