{{!-- Defenses Block --}}
<div class="defenses-block panel flex flex-col">
    <div class="defense">
        <div class="defense-level-armor"><h3>Level/<br/>Armor</h3></div>
        <div class="defense-ability"><h3>Ability</h3></div>
        <div class="defense-class"><h3>Class</h3></div>
        <div class="defense-misc"><h3>Misc</h3></div>
        <div class="defense-header resource-label"><h1>Defenses</h1></div>
    </div>
    {{#each actor.system.defense as |def id|}}
        {{#unless def.skip}}
            {{#if def.defenseBlock}}
                {{> 'systems/swse/templates/actor/parts/actor-defense-block.hbs'def=def}}
            {{/if}}
        {{/unless}}
    {{/each}}



    {{#each actor.system.defense.situationalBonuses as |bonus id|}}
        <div class="panel">{{bonus}}</div>
    {{/each}}
</div>