<div class="flex flex-col weapon-summary-header swse flex-grow">
    <div class="flex flex-row">
        <button type="button" id="fullAttack" data-action="fullAttack">Full Attack</button>
<!--        <button class="tiny fas fa-ellipsis" data-attack-key="fullAttack" data-action="attack-more"></button>-->
    </div>
    {{#each actor.armors as |armor id|}}

        {{> 'systems/swse/templates/actor/parts/armor-block.hbs' armor=armor actor=../actor toggles=../actor.system.toggles id=id}}
    {{/each}}
    {{#each actor.attack.attacks as |attack id|}}
        {{> 'systems/swse/templates/actor/parts/attack/weapon-block.hbs' attack=attack actor=../actor toggles=../actor.system.toggles id=id}}
    {{/each}}
</div>