<div class="panel" title="NPCs are disconnected from token sheets.  updates to token sheets do not modify the character sheet.">
    <label class="resource-label">NPC
        <input type="checkbox" name="data.isNPC" {{#if actor.data.data.isNPC}}
               checked="isChecked"{{/if}}/>
    </label>
</div>