{{!-- Darkside Block --}}
<h1 class="resource-label">Dark Side</h1>
<div class="dark-side-block panel flex flex-row flex-wrap">
{{#each data.darkSideArray as | value|}}
<div class="dark-side-button{{#if value.active}} active{{/if}}" data-value="{{value.value}}">{{value.value}}</div>
{{/each}}
</div>