{{!-- Defenses Block --}}
<div class="defenses-block panel flex flex-col">
    <div class="flex-row">
        <h1 class="huge resource-label">Defenses
            <a data-action="to-chat" data-action-type="defense" title="Share"><i class="fas fa-share"></i></a>
        </h1>
        <div class="large large-header">Base<br/></div>
        <div class="large large-header">Level/<br/>Armor</div>
        <div class="large large-header">Ability<br/></div>
        <div class="large large-header">Class<br/></div>
        <div class="large large-header">Misc<br/></div>
    </div>
    {{#each actor.defense as |def id|}}
        {{#unless def.skip}}
            {{#if def.defenseBlock}}
                {{> 'systems/swse/templates/actor/parts/actor-defense-block.hbs'def=def toggles=../actor.system.toggles}}
            {{/if}}
        {{/unless}}
    {{/each}}



    {{#each actor.system.defense.situationalBonuses as |bonus id|}}
        <div class="panel">{{bonus}}</div>
    {{/each}}
</div>