<div>
    <h2><label class="resource-label">Affiliations <a data-action="compendium"
                                                          data-action-target="swse.affiliations"
                                                          title="{{localize "Open Compendium"}}"><i
            class="fas fa-folder-plus"></i></a></label></h2>
</div>
<ol class="items-list">
    {{#each actor.affiliations as |item id|}}
        <li class="item flexrow" data-item-id="{{item.id}}">
            <h4 class="item-name"><b>{{item.name}}</b></h4>
            {{#if item.prerequisite }}<h4 class="item-name"><b>Prerequisites:</b> {{item.prerequisite}}</h4>{{/if}}
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    {{/each}}
</ol>
<br/>