{{!-- Portrait Block --}}
<div class="portrait panel flex flex-col">
    <div><h1>Portrait</h1></div>
    <div class="portrait-container"><img class="profile-img" src="{{actor.img}}" alt="{{actor.name}}" data-edit="img" title="{{actor.name}}"/></div>
</div>