<div>
    <label>Create New
        <input type="text" data-action="language" data-action-type="create">
    </label>
    {{> 'systems/swse/templates/actor/parts/item-list.hbs' container="languages" label="Languages" items=actor.languages draggable=true}}
</div>