<div class="crew-quality">
    <h2>
        <label for="crew-quality">Crew Quality
            <select name="system.crewQuality.quality">
                {{#select actor.system.crewQuality.quality}}
                    <option value="-">-</option>
                    <option value="Untrained">Untrained</option>
                    <option value="Normal">Normal</option>
                    <option value="Skilled">Skilled</option>
                    <option value="Expert">Expert</option>
                    <option value="Ace">Ace</option>
                {{/select}}
            </select>
        </label>
    </h2>
    {{#if actor.system.hasAstromechSlot}}
        <h2>
            <label for="crew-quality">Includes Astromech
                <input type="checkbox" name="system.hasAstromech" {{#if actor.system.hasAstromech}}
                       checked="isChecked"{{/if}}/>
            </label>
        </h2>
    {{/if}}
</div>