<div class="panel flex-row">
    {{#if actor.crew.hasCrewQuality}}
        <div class="crew-quality medium labeled-input">
            <label class="resource-label" for="crew-quality">Crew Quality</label>
            <select id="crew-quality" name="system.crewQuality.quality">
                {{#select actor.system.crewQuality.quality}}
                    <option value="-">-</option>
                    <option value="Untrained">Untrained</option>
                    <option value="Normal">Normal</option>
                    <option value="Skilled">Skilled</option>
                    <option value="Expert">Expert</option>
                    <option value="Ace">Ace</option>
                {{/select}}
            </select>
        </div>
    {{/if}}

    {{#if actor.crew.hasAstromechSlot}}
        <div>
            <label class="resource-label" for="hasAstromech">Includes Astromech
            </label>
                <input type="checkbox" id="hasAstromech" name="system.hasAstromech" {{#if actor.system.hasAstromech}}
                       checked="isChecked"{{/if}}/>
        </div>
    {{/if}}
</div>