<div class="vehicle-stations-header swse">
    {{#each actor.crewSlots as |crew id|}}
        {{> 'systems/swse/templates/actor/vehicle/vehicle-station.hbs' id=id type=crew.type crew=crew}}
    {{/each}}
</div>