<div class="flex-row panel">
    <a data-action="compendium" data-type="Item" data-filter="-type:vehicleBaseType"
       title="{{localize "Open Vehicle Template Compendium"}}"><i class="fas fa-folder-plus"></i></a>
</div>