<div class="vehicle-stations-header swse flex-row">
    {{#each actor.crew.slots as |crew id|}}
        {{> 'systems/swse/templates/actor/vehicle/vehicle-station.hbs' id=id type=crew.type crew=crew}}
    {{/each}}
</div>