.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-col{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}
.flex-row-reverse{
  flex-direction: row-reverse;
}

.flex-grow,
.flex-grow1{
  flex-grow: 1;
}

.flex-grow2{
  flex-grow: 2;
}

.flex{
  align-content: stretch;
  display: flex;
}
.flex-wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}