.window-app {
  font-family: $font-primary;
}

.window-app .window-content{
  background: var(--main-bg-color);
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}
.static {
  cursor: not-allowed;
}

.cursor {
  color: #000;
  text-shadow: 0 0 10px red;
}
.input,
.textarea {
  border: 1px solid #7a7971;
  font-family: inherit;
  font-size: inherit;
  overflow: auto;
  padding: 3px 6px;
  background-color: rgba(0, 0, 0, 0.05);
  min-height: 25px;
}


.attack-block {
  min-height: 225px;
}

.border-light {
  border: 1px solid #7a7971;
}
