<div class="swse flex flex-col">
    <h3>Select Attacks:</h3>
    {{#each selectedAttacks as |selectedAttack id|}}
        {{> 'systems/swse/templates/actor/parts/attack/attack-dialogue-single-attack.hbs' selectedAttack=selectedAttack availableAttacks=../availableAttacks}}
    {{/each}}
</div>