<ul>
    {{#if item.system}}
        {{#each item.system.providedItems as |providedItem id|}}
            {{> 'systems/swse/templates/item/parts/providedItem.hbs' providedItem=providedItem key=id}}
        {{/each}}
    {{else}}
        {{#each item._source.system.providedItems as |providedItem id|}}
            {{> 'systems/swse/templates/item/parts/providedItem.hbs' providedItem=providedItem key=id}}
        {{/each}}
    {{/if}}
    <li class="provided-item flexrow subtle"><a data-action="provided-item-control" data-type="add-item"><i class="fas fa-plus"></i>
        add a new
        provided item.</a></li>
</ul>