<div class="item-pane">
    <div class="left-sidebar sidebar">

    </div>
    <div class="middle-right-sidebar">
        {{#if item.system}}
            {{editor item.system.description target="system.description" button=true owner=owner
                     editable=editable}}
        {{else}}
            {{editor item._source.system.description target="system.description" button=true owner=owner
                     editable=editable}}
        {{/if}}
    </div>
</div>