.ability-score {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;

  .name { grid-area: 1 / 1 / 2 / 3; }
  .score { grid-area: 1 / 3 / 2 / 4; }
  .temp { grid-area: 1 / 4 / 2 / 5; }
  .mod { grid-area: 1 / 5 / 2 / 6; }
}
.background-text-container {
  position: relative;
}

.background-text {
  margin: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  color: #18f1f1;
}

.foreground-text {
  margin: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: +1;
  color: #000000;
}

.highlighted-skill {
  background-color: darkcyan;
}