.summary-block{
  .attack{

  }
}

.collapsed{
  display: none;
}

.attack-block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 1px;

  .to-hit { grid-area: 1 / 1 / 2 / 4; }
  .damage { grid-area: 1 / 4 / 2 / 7; }
  .attack-notes {
    grid-area: 3 / 1 / 4 / 7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .range { grid-area: 2 / 4 / 3 / 6; }
  .critical-multiplier { grid-area: 2 / 6 / 3 / 7; }
  .type { grid-area: 2 / 1 / 3 / 4; }
  .modes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: 4 / 1 / 5 / 7;
    .mode-group{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border: 1px solid #7a7971;

      .mode-selector {
        border: 1px solid #7a7971;
      }
    }
  }
}
.attack.vehicle{
  //background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1)), url(http://lorempixel.com/output/nature-q-c-200-200-3.jpg);
}


.collapse-toggle {

}
.float-right-toggle-button {
  min-width:25px;
  min-height:25px;
  float: right;
}
.name {
   min-width:25px;
   min-height:25px;
   float: right;
 }

.armor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 1px;

  .name { grid-area: 1 / 1 / 2 / 3; }
  .speed { grid-area: 1 / 3 / 2 / 4; }
  .reflex-defense { grid-area: 2 / 1 / 3 / 2; }
  .fortitude-defense { grid-area: 2 / 2 / 3 / 3; }
  .max-dexterity { grid-area: 2 / 3 / 3 / 4; }
  .armor-notes { grid-area: 3 / 1 / 4 / 4; }
}

.critical{
  color: green;
}

.fail{
  color: red;
}

.attack-options{
  flex-direction: column;
  display: flex;
}