.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 0 210px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}
.editor {
  min-height: 300px;
  padding-left: 4px;
  padding-right: 4px;
}

.tox-tinymce {
  min-height: 300px;
}


.summary-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}
.summary-header > * {
  flex: 1;
  //border-radius: 10px;
  //border: 1px solid black;
}

.tiny {
  flex-basis: 37px;
  flex-grow: 0;
}

.small {
  flex-basis: 75px;
  flex-grow: 2;
}

.medium {
  flex-basis: 150px;
  flex-grow: 4;
}

.large {
  flex-basis: 300px;
  flex-grow: 8;
}
.label{
  color: var(--color-foreground);
  font-weight: 700;
}

.small-header{
  font-size: 0.75rem;
  text-align: center;
  font-weight: 700;
  color: var(--color-foreground);
}

.labeled-input {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  flex-grow: 1;
}

.labeled-input label{
  font-size: 0.75rem;
  color: var(--color-foreground);
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: var(--color-background);
  width: fit-content;
}

input[type=text], input[type=number] {
  padding: 11px 10px;
  font-size: 0.75rem;
  border: 2px var(--color-foreground) solid;
  border-radius: 10px;
  color: var(--color-text-dark-primary);
  background: var(--color-background);
}


input[type=text].left-input, input[type=number].left-input {
  border-radius: 10px 0 0 10px;
}


input[type=text].right-input, input[type=number].right-input {
  border-radius: 0 10px 10px 0;
}

input[type=text].middle-input, input[type=number].middle-input {
  border-radius: 0 0 0 0;
}

input[type=text]:focus {
  outline: none;
}


.cyberpunk-button {
  background-color: var(--color-foreground);
  color: var(--color-text-dark-primary);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-foreground);
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

input[type=checkbox]:before {
  content: "";
  background-color: var(--color-foreground);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

input[type=checkbox]:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.panel {
  padding: 5px;
  border: 0px var(--color-foreground) solid;
  border-radius: 10px;
  background: var(--color-midground);
  margin: 5px;
}

.cyberpunk-checkbox-label {
  font-size: 18px;
  color: var(--color-text-dark-primary);
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}
