.items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;

  .item-header {
    font-weight: bold;
  }

  .item {
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;

    .item-image {
      flex: 0 0 24px;
      margin-right: 5px;
    }

    img {
      display: block;
    }
  }

  .description{
    background-color: rgba(0,0,0,0.05);
  }

  .feat {
    height: 60px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
  }

  .item-name {
    margin: 0;
    flex: 5;
  }

  .item-upgrade {
    flex:0;
    white-space: nowrap;
  }

  .strikethrough{
    text-decoration: line-through;
  }

  .item-controls {
    text-align: right;
    flex:1;
  }
}

td{
  text-align: center;
}
 .item-attribute{
   cursor: pointer;
 }