.item-pane {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-template-rows: 100%;
  height: 100%;


  .whole { grid-column: 1 / 6; }
  .left-sidebar { grid-column: 1 / 2; }
  .middle { grid-column: 2 / 5; }
  .right-sidebar { grid-column: 5 / 6; }
  .middle-right-sidebar { grid-column: 2 / 6; }
  .left-sidebar-middle { grid-column: 1 / 5; }

  .sidebar{
    background: rgba(0,0,0,0.1);
  }
}

.spacer{
  padding: 6px;
}

.prerequisite{
  border: solid 1px black;
}