.attribute {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 30px;
}
.mode {

  border-top: thin solid #7a7971;
  border-bottom: thin solid #7a7971;
  box-shadow: #7a7971;
}

.attribute-key { grid-area: 1 / 1 / 2 / 5; }
.attribute-value { grid-area: 1 / 5 / 2 / 9; }
.attribute-indent-graphic { grid-area: 1 / 1 / 2 / 2; }
.attribute-indent-key { grid-area: 1 / 2 / 2 / 5; }
.attribute-indent-value { grid-area: 1 / 5 / 2 / 9; }
.attribute-delete { grid-area: 1 / 9 / 2 / 10; }
.attribute-add { grid-area: 1 / 1 / 2 / 10; }
.mode-add { grid-area: 1 / 1 / 2 / 10; }

.subtle {color: #7a7971}

.attribute-full { grid-area: 1 / 1 / 2 / 10; }
.attribute-left-button { grid-area: 1 / 1 / 2 / 5; }
.attribute-right-button { grid-area: 1 / 5 / 2 / 10; }