.attribute {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 30px;
}
.mode {

  border-top: thin solid #7a7971;
  border-bottom: thin solid #7a7971;
  box-shadow: #7a7971;
}

.attribute-key { grid-area: 1 / 1 / 2 / 5; }
.attribute-value { grid-area: 1 / 5 / 2 / 9; }
.attribute-key-1 { grid-area: 1 / 2 / 2 / 6; }
.attribute-value-1 { grid-area: 1 / 6 / 2 / 9; }
.attribute-key-2 { grid-area: 1 / 3 / 2 / 7; }
.attribute-value-2 { grid-area: 1 / 7 / 2 / 9; }
.attribute-indent-graphic { grid-area: 1 / 1 / 2 / 2; }
.attribute-indent-key { grid-area: 1 / 2 / 2 / 5; }
.attribute-indent-value { grid-area: 1 / 5 / 2 / 9; }
.attribute-indent-graphic-1 { grid-area: 1 / 2 / 2 / 3; }
.attribute-indent-key-1 { grid-area: 1 / 3 / 2 / 6; }
.attribute-indent-value-1 { grid-area: 1 / 6 / 2 / 9; }
.attribute-indent-graphic-2 { grid-area: 1 / 3 / 2 / 4; }
.attribute-indent-key-2 { grid-area: 1 / 4 / 2 / 7; }
.attribute-indent-value-2 { grid-area: 1 / 7 / 2 / 9; }
.attribute-delete { grid-area: 1 / 9 / 2 / 10; }
.attribute-add { grid-area: 1 / 1 / 2 / 10; }
.mode-add { grid-area: 1 / 1 / 2 / 10; }

.subtle {color: #7a7971}

.attribute-full { grid-area: 1 / 1 / 2 / 10; }
.attribute-left-button { grid-area: 1 / 1 / 2 / 5; }
.attribute-right-button { grid-area: 1 / 5 / 2 / 10; }