.resource-label {
  font-weight: bold;
  text-transform: uppercase;
}
.center{
  text-align: center;
  margin: auto;
}
table.fixed{
  table-layout: fixed;
  tr {
    line-height: 28px;
    td {
      white-space: nowrap;
      .direct{
        text-decoration: underline;
      }

      span {
        display: inline-block;
        width: 100%;
      }

      span.short{
        width: 85%;
      }

      input {
        display: inline-block;
        width: 100%;
      }

      input.short{
        width: 85%;
      }
    }
  }
}
.padding-3{
  padding: 3px;
}
.direct{
  cursor: text;
}
.draggable{

}

.border{
  border: 1px solid black;
}
table.skill {
  tr {
    height: 30px;

    th {
      text-align: left;
    }
  }
}

.warning{
  opacity: 50%;
  background-color: yellow;
}

.shrink{
  resize: both;
  display: inline-block;
}
.rollEquation{
  word-wrap: break-word;
}
//.container{
//  height:32px;
//  width:32px;
//  border-style: dashed;
//}
//.movable{
//  height:32px;
//  width:32px;
//  border-style: solid;
//  cursor: grab;
//}

.movable, .container{
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}
.container{
  border: 1px dotted dimgray;
}
.movable{
  padding: 17px;
  text-align: center;
  border: 1px solid;
}
.text-center{
   text-align: center;
}