.species-container {
  .species{
    display: flex;

    .species-image{
      display: block;
    }
    img{
      height: 32px;
      width: 32px;

    }
    div{
      flex:1;
    }
  }
}