.species-container {
  .species{
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;

    .species-image{
      display: block;
    }
    img{
      height: 30px;
      width: 30px;

    }
  }
}