  .summary-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 3px;

  .name {
    grid-area: 1 / 1 / 2 / 5;
  }

  .player {
    grid-area: 1 / 5 / 2 / 8;
  }

  .classes {
    grid-area: 2 / 1 / 3 / 7;
  }

  .level {
    grid-area: 2 / 7 / 3 / 8;
  }

  .destiny {
    grid-area: 4 / 1 / 5 / 7;
  }

  .experience {
    grid-area: 4 / 7 / 5 / 8;
  }

  .weight {
    grid-area: 3 / 7 / 4 / 8;
  }

  .height {
    grid-area: 3 / 6 / 4 / 7;
  }

  .age {
    grid-area: 3 / 5 / 4 / 6;
  }

  .sex {
    grid-area: 3 / 4 / 4 / 5;
  }

  .species {
    grid-area: 3 / 1 / 4 / 4;
  }
  }