.vehicle-station{
  width:200px;
  height:200px;
  border: 1px solid black;
  text-shadow: 1px 1px #ffffff;
}
.crew-member-portrait{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}