.web-viewer {
  align-content: stretch;
  display: flex;
  flex-direction: column;
}

.web-group {
  align-content: stretch;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.web-level {
  align-content: stretch;
  display: flex;
  flex-direction: column;
}

.web-item{
  border-radius: 10px;
  width: 240px;
  height: 240px;
  align-content: stretch;
  display: flex;
  flex-direction: row;
  div {
    border: 1px solid black;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    cursor: move;
    z-index: 10;
  }
}
