<header class="change-list-header flexrow">
    <div class="key">{{ localize "EFFECT.ChangeKey" }}</div>
    <div class="mode">{{ localize "EFFECT.ChangeMode" }}</div>
    <div class="value">{{ localize "EFFECT.ChangeValue" }}</div>
    <div class="change-controls">
        <a class="change-control" data-action="change-control" data-action-type="add"><i class="far fa-plus-square"></i></a>
    </div>
</header>
<ol class="change-list">
    {{#each changes as |change i|}}
        {{log this}}
        {{> 'systems/swse/templates/change/change.hbs' change=change prefix="active" index=i modes=../modes}}
    {{/each}}
    {{#each inheritedChanges as |change i|}}
        {{> 'systems/swse/templates/change/change.hbs' change=change index=i prefix="inherited" inherited=true modes=../modes}}
    {{/each}}
</ol>