<!--add lookups to some of these fields-->
<a class="rollable" title="Roll {{rollable}}"
   data-label="{{rollable}}" data-key="{{rollable}}"
   data-notes="{{rollable}}">
    <i class="fas fa-dice-d20"></i>
</a>