<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
          <h1 class="charname"><label name="name" type="text" value="{{item.name}}" placeholder="Name">{{item.name}}</label></h1>
          <div class="resource">
            <label class="resource-label">Talent Tree: </label><span>{{data.talentTree}}</span>
          </div>
          <div class="resource">
            <label class="resource-label">Categories:</label>
              {{#each data.categories as |category|}}{{category}}, {{/each}}
          </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">Attribute Key</span>
                <span class="attribute-value">Value</span>
            </header>

            <ol class="attributes-list">
                {{#each data.attributes as |attr key|}}
                    <li class="attribute flexrow" data-attribute="{{key}}">
                        <label class="attribute-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}">{{key}}</label>
                        <input name="data.attributes.{{key}}.value" type="text" value="{{attr.value}}" placeholder="" title=""/>
                        <!--                      //<label class="attribute-value" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="{{attr.dtype}}">{{attr.value}}</label>-->
                    </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>
